.downloadLink {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.feedback-savemove-btn {
    width: auto !important;
}

.strong-warning {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
        background-color: red;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        background-color: red;
    }
}